<div class="position-absolute top-50 start-50 translate-middle">
  <div style="width: 300px">
    <div class="row">
      <div class="col">
        <h1 class="pb-3 text-center">ABCall</h1>
        <h2 i18n class="pb-3 text-center">Iniciar sesión como:</h2>
      </div>
      <div class="row">
        <div class="col pb-3">
          <button i18n type="button" class="btn btn-primary rounded-pill w-100" [routerLink]="['/auth/login']"
            [queryParams]="{role: 'CLIENT'}">Empresa</button>
        </div>
        <div class="col pb-3">
          <button i18n type="button" class="btn btn-primary rounded-pill w-100" [routerLink]="['/auth/login']"
            [queryParams]="{role: 'AGENT'}">Asesor</button>
        </div>
      </div>
    </div>
  </div>
</div>