.centered-content {
  text-align: center;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 3rem;
  color: white;
  margin: 0;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  color: #ddd;
  margin-top: 0.5rem;
}

.buttons {
  margin-top: 1.5rem;
  /* Adjust the spacing between subtitle and buttons */
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}