<div *ngIf="pcc">
  <div class="row">
    <div class="col">
      <h1 class="pb-3">
        PQR_{{ pcc.id.split('-')[0] }} - {{ pcc.subject }}
      </h1>
    </div>
  </div>

  <!-- Main Row with Two Columns -->
  <div class="row">
    <!-- Left Column: PQR Information -->
    <div class="col-md-6">
      <!-- Description Row -->
      <div class="row mb-1">
        <div class="col">
          <label class="form-label text-muted small mb-1" i18n>Descripción</label>
          <p class="form-control-plaintext small" style="text-align: justify;">
            {{ pcc.description }}
          </p>
        </div>
      </div>

      <!-- Status Row -->
      <div class="row mb-1">
        <div class="col">
          <label class="form-label text-muted small" i18n>Estado del PQR</label>
          <p class="form-control-plaintext small">
            {{ pcc.status }}
          </p>
        </div>
        <div class="col">
          <label class="form-label text-muted small" i18n>Empresa sobre la cual se radicó el PQR</label>
          <p class="form-control-plaintext small">
            {{ pcc.company.name }}
          </p>
        </div>
      </div>

      <!-- Notifications Row -->
      <div class="row mb-1">
        <div class="col">
          <h3>Notificaciones</h3>
          <div *ngFor="let notification of pcc.notifications" class="mb-2">
            <label class="form-label text-muted small" i18n>{{ notification.status }}</label>
            <p class="form-control-plaintext small">
              {{ notification.reason }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Column: Consumer Information -->
    <div class="col-md-6">
      <div class="row mb-1">
        <div class="col">
          <label class="form-label text-muted small" i18n>Consumidor</label>
          <p class="form-control-plaintext small">
            {{ pcc.consumer.name }}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <label class="form-label text-muted small" i18n>Correo electrónico</label>
          <p class="form-control-plaintext small">
            {{ pcc.consumer.email }}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <label class="form-label text-muted small" i18n>Número de contacto</label>
          <p class="form-control-plaintext small">
            {{ pcc.consumer.contact_number }}
          </p>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <label class="form-label text-muted small" i18n>Tipo de identificación del consumidor</label>
          <p class="form-control-plaintext small">
            {{ pcc.consumer.identification_type }}
          </p>
        </div>
        <div class="col">
          <label class="form-label text-muted small" i18n>Número de identificación del consumidor</label>
          <p class="form-control-plaintext small">
            {{ pcc.consumer.identification_number }}
          </p>
        </div>
      </div>
    </div>
    <!-- Buttons for consumerDetail -->
    <div class="row justify-content-center">
      <div class="col-2 pb-3">
        <button class="btn btn-danger rounded-pill w-100" i18n [routerLink]="['/pcc-list']">Regresar</button>
      </div>
      <div class="col-2 pb-3">
        <button class="btn btn-primary rounded-pill w-100" i18n [routerLink]="['/pcc-edit', pcc.id]">Editar PQR</button>
      </div>
    </div>
</div>
