<form [formGroup]="pccForm"
      (ngSubmit)="!pccForm.invalid && createPcc(pccForm.value)">
  <div class="row">
    <div class="col-6 pt-3 pb-3">
      <div class="input-group has-validation">
        <div class="form-floating">
          <select formControlName="company" class="form-select rounded-4"
                  [class.is-invalid]="pccForm.controls['company'].invalid && pccForm.controls['company'].touched || consumer.companies.length === 0">
            <option *ngFor="let option of consumer.companies" [value]="option.id">{{ option.name }}
            </option>
          </select>
          <label class="form-label" i18n>Empresa</label>
          <div class="invalid-feedback"
               *ngIf="pccForm.controls['company']!.hasError('required') && consumer.companies.length > 0" i18n>
            Debe seleccionar la empresa
          </div>
          <div class="invalid-feedback" *ngIf="consumer.companies.length === 0" i18n>
            El consumidor no tiene ninguna empresa asociada y por consiguiente no es posible crear una PQR en este
            momento
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 pb-3">
      <div class="input-group has-validation">
        <div class="form-floating">
          <input formControlName="subject" id="subject" type="text" class="form-control rounded-4"
                 [class.is-invalid]="pccForm.controls['subject'].invalid && pccForm.controls['subject'].touched"/>
          <label class="form-label" i18n>Asunto</label>
          <div class="invalid-feedback"
               *ngIf="pccForm.controls['subject']!.hasError('required')" i18n>
            Debe ingresar el asunto
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 pb-3">
      <div class="input-group has-validation">
        <div class="form-floating">
              <textarea formControlName="description" id="description" class="form-control rounded-4"
                        style="height: 150px"
                        [class.is-invalid]="pccForm.controls['description'].invalid && pccForm.controls['description'].touched">
              </textarea>
          <label class="form-label" i18n>Descripción</label>
          <div class="invalid-feedback"
               *ngIf="pccForm.controls['description']!.hasError('required')">
            Debe ingresar la descripción
          </div>
          <div class="invalid-feedback"
               *ngIf="pccForm.controls['description']!.hasError('minlength')">
            La descripción debe tener al menos {{ pccForm.controls['description']!.errors?.['minlength']?.requiredLength }} caracteres
          </div>
          <div class="invalid-feedback"
               *ngIf="pccForm.controls['description']!.hasError('maxlength')">
            La descripción no debe exceder los {{ pccForm.controls['description']!.errors?.['maxlength']?.requiredLength }} caracteres
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 pb-3">
      <button class="btn btn-danger rounded-pill w-100" i18n (click)="clearConsumer()">Regresar</button>
    </div>
    <div class="col-2 pb-3">
      <button class="btn btn-primary rounded-pill w-100" i18n [disabled]="!pccForm.valid">Crear PQR</button>
    </div>
  </div>
</form>
