/* Posicionar el icono del globo al lado derecho de la pantalla */
.dropdown-container {
  position: absolute;
  top: 20px;  /* Ajusta según sea necesario */
  right: 60px;  /* Alineado a la derecha */
  z-index: 1000;  /* Para asegurar que esté siempre visible */
}

.btn.btn-primary.rounded-pill {
  position: absolute;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
