<div class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-fill">
    <div class="container-fluid text-center">
      <div class="row ">
        <div *ngIf="shouldShowBackOption" class="col-auto me-auto pt-3">
          <button class="btn btn-primary rounded-pill" type="button" [routerLink]="['']">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
        </div>
        <div *ngIf="shouldShowMenu" class="col-auto me-auto pt-3">
          <div class="dropdown">
            <button class="btn btn-primary rounded-pill" type="button" data-bs-toggle="dropdown">
              <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a i18n class="dropdown-item">Listar PQR</a></li>
              <li><a i18n class="dropdown-item">Crear PQR</a></li>
              <li><a i18n class="dropdown-item" (click)="goToConsumer()">Consultar consumidor</a></li>
            </ul>
          </div>
        </div>
        <div class="col-auto pt-3">
          <div class="row">
            <div class="col-auto">
              <div class="dropdown">
                <button class="btn btn-primary rounded-pill" type="button" data-bs-toggle="dropdown">
                  <i class="fa-solid fa-globe"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a i18n class="dropdown-item">Español</a></li>
                  <li><a i18n class="dropdown-item">Inglés</a></li>
                </ul>
              </div>
            </div>
            <div class="col-auto">
              <button *ngIf="shouldShowLogOut" class="btn btn-danger rounded-pill" type="button" (click)="logOut()">
                <i class="fa-solid fa-right-from-bracket"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>