<div class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-fill">
    <div class="container-fluid">
      <div class="row pt-3 pb-3">
        <div class="col-auto me-auto">
          <div class="row">
            <div class="col-auto" *ngIf="showBackOption">
              <button class="btn btn-primary rounded-pill" type="button" (click)="backAuthLogin()">
                <i class="fa-solid fa-arrow-left"></i>
              </button>
            </div>
            <div class="col-auto" *ngIf="showMenu">
              <div class="dropdown">
                <button class="btn btn-primary rounded-pill" type="button" data-bs-toggle="dropdown">
                  <i class="fa-solid fa-bars"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a i18n class="dropdown-item" [routerLink]="['/pcc-list']">Listar PQR</a></li>
                  <li><a i18n class="dropdown-item" [routerLink]="['/pcc-create']">Crear PQR</a></li>
                  <li><a i18n class="dropdown-item" [routerLink]="['/consumer-detail']">Consultar consumidor</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="row">
            <div class="col-auto">
              <div class="dropdown">
                <button class="btn btn-primary rounded-pill" type="button" data-bs-toggle="dropdown">
                  <i class="fa-solid fa-globe"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a i18n class="dropdown-item">Español</a></li>
                  <li><a i18n class="dropdown-item">Inglés</a></li>
                </ul>
              </div>
            </div>
            <div class="col-auto" *ngIf="showLogOut">
              <button class="btn btn-danger rounded-pill" type="button" (click)="logOut()">
                <i class="fa-solid fa-right-from-bracket"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <app-toast></app-toast>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
