/* Posicionar el icono del globo al lado derecho de la pantalla */
.dropdown-container {
  position: absolute;
  top: 20px;  /* Ajusta según sea necesario */
  right: 50px;  /* Alineado a la derecha */
  z-index: 1000;  /* Para asegurar que esté siempre visible */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
