<br>
<div class="row">
  <div class="col text-start" *ngIf="callBy === 'CREATE_PQR'">
    <h1 class="pb-3">Consultar consumidor para creación de PQR</h1>
  </div>
  <div class="col text-start" *ngIf="callBy === 'CONSUMER'">
    <h1 class="pb-3">Consulta consumidor</h1>
  </div>
</div>
<form [formGroup]="consumerForm" (ngSubmit)="!consumerForm.invalid && getConsumerDetails(consumerForm.value)">
  <div class="row">
    <div class="col-sm-4 col-md-3 pb-1">
      <div class="input-group has-validation">
        <div class="form-floating">
          <select formControlName="identification_type" id="identification_type"
            class="form-select form-control rounded-4"
            [class.is-invalid]="consumerForm.controls['identification_type'].invalid && consumerForm.controls['identification_type'].touched"
            autocomplete="Tipo identificación">
            <option value="Cédula de ciudadanía" i18n>Cédula de ciudadanía</option>
            <option value="Cédula de extranjería" i18n>Cédula de extranjería</option>
            <option value="Tarjeta de identidad" i18n>Tarjeta de identidad</option>
            <option value="Pasaporte" i18n>Pasaporte</option>
          </select>
          <label i18n>Tipo identificación</label>
          <div i18n class="invalid-feedback" *ngIf="consumerForm.controls['identification_type']!.hasError('required')">
            Tipo identificación requerido
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 pb-1">
      <div class="input-group has-validation">
        <div class="form-floating">
          <input formControlName="identification_number" id="identification_number" type="text"
            class="form-control rounded-4" autocomplete="Numero identificación"
            [class.is-invalid]="consumerForm.controls['identification_number'].invalid && consumerForm.controls['identification_number'].touched" />
          <label i18n>Numero identificación</label>
          <div i18n class="invalid-feedback"
            *ngIf="consumerForm.controls['identification_number']!.hasError('required')">
            Numero identificación requerido
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4 col-md-2 pb-1">
      <button i18n type="button" class="btn btn-danger rounded-pill w-100" (click)="goBack()">
        Regresar
      </button>
    </div>
    <div class="col-sm-4 col-md-2 pb-1">
      <button i18n type="submit" class="btn btn-primary rounded-pill w-100" [disabled]="!consumerForm.valid">
        Consultar
      </button>
    </div>
  </div>
</form>