<br>
<div class="row">
  <div class="col text-start">
    <h1 class="pb-3">Crear PQR para {{ consumerDetails?.name }}</h1>
  </div>
</div>

<div class="row">
  <!-- Left Column: Personal Information -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <p class="mb-1 text-muted" i18n>Tipo de identificación</p>
          <p class="fw-bold">{{ consumerDetails?.identification_type }}</p>
        </div>
        <div class="mb-3">
          <p class="mb-1 text-muted" i18n>Número de contacto</p>
          <p class="fw-bold">{{ consumerDetails?.contact_number }}</p>
        </div>
        <div class="mb-3">
          <p class="mb-1 text-muted" i18n>Dirección</p>
          <p class="fw-bold">{{ consumerDetails?.address }}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <p class="mb-1 text-muted" i18n>Número de identificación</p>
          <p class="fw-bold">{{ consumerDetails?.identification_number }}</p>
        </div>
        <div class="mb-3">
          <p class="mb-1 text-muted" i18n>Correo electrónico del Consumidor</p>
          <p class="fw-bold">{{ consumerDetails?.email }}</p>
        </div>
      </div>
    </div>


  </div>

  <!-- Right Column: Companies Section -->
  <div class="col-md-6">
    <h4 class="fw-bold mb-3" i18n>Empresas asociadas con el consumidor</h4>

    <!-- Show different content based on the action -->
    <div>
      <!-- Dropdown if there are companies -->
      <div *ngIf="consumerDetails?.companies && consumerDetails.companies.length > 0; else noCompanies">
        <select class="form-select" [(ngModel)]="selectedCompany">
          <option *ngFor="let company of consumerDetails.companies" [ngValue]="company">{{ company.name }}</option>
        </select>
      </div>


      <!-- No companies message -->
      <ng-template #noCompanies>
        <p i18n>El usuario no tiene ninguna empresa asociada y por consiguiente no es posible crear una PQR en este
          momento. Por favor, asocia al usuario a una empresa primero.</p>
      </ng-template>
    </div>
  </div>
</div>


<div>
  <form [formGroup]="pqrForm" (ngSubmit)="!pqrForm.invalid && submitPQR(selectedCompany.id, consumerDetails.id)">
    <div class="mb-3">
      <label for="subject" class="form-label" i18n>Asunto</label>
      <input type="text" id="subject" class="form-control" formControlName="subject" placeholder="Asunto"
        [class.is-invalid]="pqrForm.controls['subject'].invalid && pqrForm.controls['subject'].touched" />

      <div i18n class="invalid-feedback" *ngIf="pqrForm.controls['subject']!.hasError('required')">
        Asunto requerido
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label" i18n>Descripción</label>
      <input type="text" id="description" class="form-control" formControlName="description" placeholder="Descripción"
        [class.is-invalid]="pqrForm.controls['description'].invalid && pqrForm.controls['description'].touched" />
      <div i18n class="invalid-feedback" *ngIf="pqrForm.controls['description']!.hasError('required')">
        Descripción requerida
      </div>
      <div i18n class="invalid-feedback" *ngIf="pqrForm.controls['description']!.hasError('minlength')">
        La Descripción debe tener un mínimo de 200 caracteres
      </div>
    </div>

    <!-- Buttons -->
    <div class="mt-4 d-flex justify-content-center">
      <button type="button" class="btn btn-danger rounded-pill me-2" (click)="goBack()" i18n>Regresar</button>
      <button type="submit" class="btn btn-primary rounded-pill" [disabled]="pqrForm.invalid || !selectedCompany"
        i18n>Crear PQR</button>
    </div>
  </form>
</div>